/* MARGINS / POSITIONING IN PIXELS AND SIZING IN PERCENTAGES */

body {
    font-family: sans-serif;
    background: yellowgreen;
	box-shadow: 1px 1px 12px #aaa;
    text-align: center;
}

h1, h2, h3, h4 {
    text-align: center;
    color:black;
    margin:0;
}

input[type="submit"] {
  display: block;
  margin:auto;
}

header {
    font-size: 10px;
    text-align: right;
    font-style: italic;
}

/*cursor: pointer;*/

section,footer,#menu,#stock,#upgrades {
    /*display: inline-block;*/
    vertical-align: middle;
    border: solid;
    border-width: 100%;
    border-color: black;
}

footer {
    text-align: left;
    font-size: 10px;
    border: solid 2.5px;
    border-color: greenyellow;
    background: forestgreen;
    margin-top: 10px;
    padding: 5px;
}

#Statistiques {
    border:none;
}

#startGame:hover {background-color: rgb(131, 124, 124);}

#Compteurs {
    display: inline-block;
    border: solid 2px;
    padding: 10px 20px;
    margin: 20px 50px;
    font-family: fantasy;
}

#jeu {
    width: 99%;
    height: 1100px;
    border-radius: 15px;
}

#meteo {
    border: solid;
    border-width: 100%;
    border-color: gray;
    border-radius: 10px;
    width: 15%;
    height: 27%;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

#lemonade_stand {
    margin-left: -100px;
    margin-top: 167px;
    width: 30%;
    height: 65%;
    bottom: 0%;
}

#adstand {
    margin-bottom: 80px;
    width: 8%;
    height: 30%;
}

#jeu_main {
    border: solid;
    border-width: 100%;
    border-color: forestgreen;
    border-radius: 10px;
    background-image: url("Images/route.png");
    background-size: 100% 100%;
    position: relative;
    width: 97%;
    height: 54%;
    left: 20px;
    top: 10px;
    z-index:-1;
}

#meteo img {
    display: none;
    max-width: 70%;
    max-height: 70%;
}

#controlleur {
    border-color: orange;
    background-color: darkgoldenrod;
    border-radius: 10px;
    width: 93%;
    height: 30%;
    margin-top: 100px;
    margin-left: 48px;
}

#controlSections {
    float: left;
    margin-top:-50px;
    /*borders + colors*/
}

#menu,#stock,#upgrades {background-color: darkgoldenrod; border-color: orange; border-radius: 5px;}
#menu:hover,#stock:hover,#upgrades:hover {background-color: rgb(109, 80, 7);}

#menuSection,#stockSection,#upgradesSection {
    height: 84%;
    border-radius: 5px;
    border: solid 2px rgba(255,165,0,.5);
}

#menuSection,#stockSection,#upgradesSection {display: flex; flex-direction: column; align-items: flex-start;}

#sliderSugar,#sliderIce,#sliderLemonade,#sliderX { margin-top: 30px; margin-left:20px;}
#lemonadePrice,#icePrice,#sugarPrice,#XPrice {margin-left:800px; margin-top:-30px;}

/* SLIDERS CUSTOMIZATIONS */
#sliderSugarValue ,#sliderIceValue ,#sliderLemonadeValue ,#sliderXValue {
    -webkit-appearance: none;
    width: 500px;
    height: 24px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.7;
}
#sliderSugarValue:hover ,#sliderIceValue:hover ,#sliderLemonadeValue:hover ,#sliderXValue:hover, #confirmerStock:hover {opacity: 1;}
#sliderSugarValue::-webkit-slider-thumb,#sliderIceValue::-webkit-slider-thumb,#sliderLemonadeValue::-webkit-slider-thumb,#sliderXValue::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background: url('./Images//Ingredients/lemon.png');
    background-size: 110%;
    cursor: pointer;
}

/* END OF SLIDERS CUSTOMIZATIONS */

#numSugarValue ,#numIceValue ,#numLemonadeValue ,#numXValue {
    -webkit-appearance: none;
    width: 100px;
    height: 24px;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.7;
}
#confirmerStock {-webkit-appearance: none; font-size: medium; border-radius: 5px; background: #d3d3d3; opacity: 0.7; color:black;}
#titre1,#numSugar,#numIce,#numLemonade,#numX { margin-top: 18px; margin-left:20px;}
#titre2,#lemonadeStock,#iceStock,#sugarStock,#XStock {margin-left:500px; margin-top:-25px;}

#argent {float:left; margin-left: 5px; margin-top: 5px;}
#jour {float:right; margin-right: 7px; margin-top: -27px;}
#adsContainer {margin-top:5px; margin-right:120px;}

input[type=button] {
    font-family: fantasy;
    padding: 10px 20px;
    background-color: white;
}
