/* MARGINS / POSITIONING IN PIXELS AND SIZING IN PERCENTAGES */

body {
    font-family: sans-serif;
    background: yellowgreen;
	box-shadow: 1px 1px 12px #aaa;
    text-align: center;
}

h1, h2, h3, h4 {
    text-align: center;
    color:black;
    margin:0;
}

input[type="submit"] {
  display: block;
  margin:auto;
}

header {
    font-size: 10px;
    text-align: right;
    font-style: italic;
}

footer {
    text-align: left;
    font-size: 10px;
    background: gray;
    margin-top: 10px;
    padding: 5px;
}

/*cursor: pointer;*/

section {
    /*display: inline-block;*/
    vertical-align: middle;
    border: solid;
    border-width: 100%;
    border-color: black;
}

#Statistiques {
    border:none;
}

#Compteurs {
    display: inline-block;
    border: solid 2px;
    padding: 10px 20px;
    margin: 20px 50px;
    font-family: fantasy;
}

#jeu {
    width: 99%;
    height: 900px;
}

#meteo {
    border: solid;
    border-width: 100%;
    border-color: gray;
    border-radius: 10px;
    width: 15%;
    height: 27%;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

#lemonade_stand {
    margin-left: -100px;
    margin-top: 167px;
    width: 30%;
    height: 65%;
    bottom: 0%;
}

#adstand {
    margin-bottom: 80px;
    width: 8%;
    height: 30%;
}

#jeu_main {
    border: solid;
    border-width: 100%;
    border-color: forestgreen;
    border-radius: 10px;
    background-image: url("Images/route.png");
    background-size: 100% 100%;
    position: relative;
    width: 97%;
    height: 65%;
    left: 20px;
    top: 10px;
    z-index:-1;
}

#meteo img {
    display: none;
    max-width: 70%;
    max-height: 70%;
}

#controlleur {
    border-color: orange;
    background-color: darkgoldenrod;
    width: 93%;
    height: 30%;
    margin-left: 48px;
}

#argent {
    float:left;
    margin-left: 5px;
    margin-top: 5px;
}

#jour {
    float:right;
    margin-right: 7px;
    margin-top: 5px;
}

#sliderArgent {
    margin-top: 50px;
}

#adsContainer {
    margin-top:20px;   
}

input[type=button] {
    font-family: fantasy;
    padding: 10px 20px;
}
